.card-list {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

@media screen and (max-width: 1200px) {
  .card-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card-list {
    margin: 2%;
  }
}
