.card-container {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 15px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  background-color: whitesmoke;
}

.card-container img {
  width: 100%;
}
.card-container:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1200px) {
  .card-container {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    margin: 20px;
  }
}
